@model PortalCompras.Models.Producto

@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar</h2>

<h3>¿Esta seguro que desea borrar?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Producto
            @*@Html.DisplayNameFor(model => model.NombreProducto)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>

        <dt>
            Descripción
            @*@Html.DisplayNameFor(model => model.DescripcionProducto)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionProducto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
