@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        <br />
        <br />
        <strong title="Phone">Telefono:</strong>
    3410000000
</address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@portaldecompras.com">Support@portaldecompras.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@portaldecompras.com">Marketing@portaldecompras.com</a>
    </address>
</main>