@{
    ViewBag.Title = "Portal de compras";
}


<body>
    <p>@Html.ActionLink("Adjuciaciones", "Indexprov", "AdjudicacionLicitacionProveedor", new { area = "" }, new { @class = "nav-link" })</p>
    <p>@Html.ActionLink("Cotizaciones", "Index", "LicitacionCotizacionProv", new { area = "" }, new { @class = "nav-link" })</p>
    <p> @Html.ActionLink("Licitaciones", "Indexprov", "Licitacione", new { area = "" }, new { @class = "nav-link" })</p>

</body>
